# Data Science Capstone Notebook
## This workbook will be used for the final Coursera Capstone project for
## Data Science Specialization with Python Class
## September 2019

In [8]:
#Import needed modules
import pandas as pd
import numpy as np
from pandas import ExcelFile

%pip install xlrd

#Below needed to scrape URLs
#import requests

Collecting xlrd
  Downloading https://files.pythonhosted.org/packages/b0/16/63576a1a001752e34bf8ea62e367997530dc553b689356b9879339cf45a4/xlrd-1.2.0-py2.py3-none-any.whl (103kB)
     |████████████████████████████████| 112kB 32.2MB/s eta 0:00:01
Installing collected packages: xlrd
Successfully installed xlrd-1.2.0
Note: you may need to restart the kernel to use updated packages.

In [39]:
#Install BeautifulSoup
#%pip install BeautifulSoup4
#from bs4 import BeautifulSoup
#soup = BeautifulSoup(page.content, 'html.parser')

Collecting BeautifulSoup4
  Downloading https://files.pythonhosted.org/packages/1a/b7/34eec2fe5a49718944e215fde81288eec1fa04638aa3fb57c1c6cd0f98c3/beautifulsoup4-4.8.0-py3-none-any.whl (97kB)
     |████████████████████████████████| 102kB 20.0MB/s ta 0:00:01
Collecting soupsieve>=1.2 (from BeautifulSoup4)
  Downloading https://files.pythonhosted.org/packages/5d/42/d821581cf568e9b7dfc5b415aa61952b0f5e3dede4f3cbd650e3a1082992/soupsieve-1.9.4-py2.py3-none-any.whl
Installing collected packages: soupsieve, BeautifulSoup4
Successfully installed BeautifulSoup4-4.8.0 soupsieve-1.9.4
Note: you may need to restart the kernel to use updated packages.

In [2]:
#install lxml
#%conda install lxml

In [4]:
#External source variable definitions
dallas_county_url = "https://www.dallascounty.org/about-us/cities/"
tarrant_county_url = "http://access.tarrantcounty.com/en/county/about-tarrant/incorporated-areas.html"
northtexascity_file = "City_Limits_2010_Census_DFW.xlsx"
city_name_file = "CountyCityList_2019.xlsx"

In [16]:
#Read City data into Dataframes

#Get City Names
city_df = pd.read_excel(city_name_file,header=0)
#Drop County column
city_df.drop(['County'], axis=1, inplace=True)
#Remove duplicate data rows (in case a city falls within multiple columns)
city_df = city_df.drop_duplicates(inplace=True)

#Get master list of north City names and locations
locs_df = pd.read_excel(northtexascity_file,header=0)
locs_df2 = locs_df[['NAME10', 'INTPTLAT10', 'INTPTLON10']]
locs_df2 = locs_df2.rename(columns={'NAME10': 'City', 'INTPTLAT10': 'lat', 'INTPTLON10': 'lon'}, inplace=True)

#Combine Searched cities with location coordinates in one dataframe
dfw_df = pd.merge(city_df, locs_df2, on = 'City')

dfw_df.head()

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/pandas/core/frame.py:4223: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(**kwargs)

TypeError: Can only merge Series or DataFrame objects, a <class 'NoneType'> was passed

In [10]:
city_df.head()

            City  County
0        Addison  Dallas
1  Balch Springs  Dallas
2     Carrollton  Dallas
3     Cedar Hill  Dallas
4  Cockrell Hill  Dallas

In [11]:
locs_df.head()

,OBJECTID,STATEFP10,PLACEFP10,PLACENS10,GEOID10,NAME10,NAMELSAD10,LSAD10,CLASSFP10,PCICBSA10,PCINECTA10,MTFCC10,FUNCSTAT10,ALAND10,AWATER10,INTPTLAT10,INTPTLON10,Shapearea,Shapelen
0,559,48,44170,2410880,4844170,Los Ybanez,Los Ybanez city,25,C1,N,N,G4110,A,215759,2029,32.719195,-101.917507,0.000021,0.020102
1,208,48,35816,2412789,4835816,Impact,Impact town,43,C1,N,N,G4110,A,225084,0,32.500177,-99.746526,0.000022,0.021262
2,796,48,50184,2413030,4850184,Mustang,Mustang town,43,C1,N,N,G4110,A,316713,7794,32.012398,-96.431707,0.000031,0.025449
3,298,48,80144,2413506,4880144,Woodloch,Woodloch town,43,C1,N,N,G4110,A,210700,0,30.217223,-95.413207,0.000020,0.026246
4,715,48,48478,2412997,4848478,Miller's Cove,Miller's Cove town,43,C1,N,N,G4110,A,424420,9126,33.155283,-95.115167,0.000042,0.026817

In [42]:
#Get Dallas and Tarrant county Data
#page = urlopen(tarrant_county_url).read()
page = requests.get(tarrant_county_url)
soup = BeautifulSoup(page.content, 'html_parser')

#page = requests.get(dallas_county_url)
#page = requests.get(tarrant_county_url)

#dallas_frame = pd.read_html(page.content,attrs = {'class': 'dc-listview'})[0]
#dallas_frame = pd.read_html(page.content)
#tarrant_frame = pd.read_html(page.content, attrs = {'id': 'table'})
tarrant_frame = pd.read_html(page.content)



#dallas_frame.shape
print (2+2)

FeatureNotFound: Couldn't find a tree builder with the features you requested: html_parser. Do you need to install a parser library?

In [33]:
#tarrant_list = tarrant_frame[0][0].tolist
#tarrant_frame[0][1].type
df = pd.DataFrame(tarrant_frame[0][0])
df.head()

                                                   0
0  Arlington Azle Bedford Benbrook Blue Mound Bur...

In [14]:
tarrant_list

<bound method IndexOpsMixin.tolist of 0    Arlington Azle Bedford Benbrook Blue Mound Bur...
Name: 0, dtype: object>